@model RESTApi.Models.User

@{
    ViewBag.Title = "Search User";
}

<h2>Search User</h2>

@using (Html.BeginForm("GetSearchedUserId", "GetUsers"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search" class="btn btn-default btn-block" />
                </div>
            </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Home Page", "Index", "Home", null, new { Style = "color:#03071e" })
</div>

